<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forget Password</title>
    </head>
    <body>
        <h1>Hello. It seems you have requested that you forget your password.</h1>
        <h3>OTP token</h3>
        <h1>{{ otpToken }}</h1>
        <p><a href="{{ link }}">click this link</a> to enter your otp account and don't share it with the others.</p>
        <h1>If you never requested. Please ignore this email.</h1>
    </body>
</html>